.colorPalette{
    display: flex;
    flex-flow: row;
    margin: 1em;
}

.colorButton{
    font-weight: bold;
    height: 30px;
    width: 30px;
    border-radius: 4px;
    border-color: transparent;
}