.App {
  text-align: center;
}

.Main {
  display: flex;
  flex-flow: column;
  background-color: gray;
}

.containerMain{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  background-color: #00a0cc;
  align-items: center;
}
