.App {
  text-align: center;
}

.Main {
  display: flex;
  flex-flow: column;

}

.containerMain{
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  background-color: #00a0cc;
  height: 50px;
  align-items: center;
}

.painterBlock {
  width: 50px;
  height: 50px;
  border: 1px solid black;
}

.settingButton {
  font-weight: bold;
  height: 40px;
  width: 100px;
  border: #282c34;
  border-radius: 4px;
}